.card-production {
    background-color: rgb(231, 92, 157);
    color: white;
}

.card-operation {
    background-color: #008299;
    color: white;
}

.card-marketing {
    background-color: #3D722B;
    color: white;
}


.sop-item-card-header {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: "title title title switch";
}

.sop-item-card-title {
    grid-area: title;
}

.sop-item-card-switch {
    grid-area: switch;
    padding: 0.75rem;
}